Source: libmatrix-creator-hal
Section: libs
Priority: optional
Maintainer: Admobilize <info@admobilize.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/matrix-io/matrix-creator-hal

Package: libmatrix-creator-hal
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, wiringpi, libfftw3-dev, matrix-creator-init
Description: Hardware Abstraction Layer for MATRIX.

Package: libmatrix-creator-hal-dev
Section: libdevel
Architecture: any
Depends: libmatrix-creator-hal  (= ${binary:Version}), libc6-dev | libc-dev, ${misc:Depends}
Description:  Hardware Abstraction Layer for MATRIX (headers)

