Source: libmatrixio-creator-hal
Section: libs
Priority: optional
Maintainer: MATRIX Labs <info@matrix.one>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/matrix-io/matrix-creator-hal

Package: libmatrixio-creator-hal
Conflicts: libmatrix-creator-hal
Replaces: libmatrix-creator-hal
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}, wiringpi, libfftw3-dev, libgflags-dev
Description: Hardware Abstraction Layer for MATRIX.

Package: libmatrixio-creator-hal-dev
Conflicts: libmatrix-creator-hal-dev
Replaces: libmatrix-creator-hal-dev
Section: libdevel
Architecture: any
Depends: libmatrixio-creator-hal  (= ${binary:Version}), libc6-dev | libc-dev, ${misc:Depends}
Description:  Hardware Abstraction Layer for MATRIX (headers)

